<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 注册作业类 -->
	<bean id="myJob" class="com.sf.quartz.MyJob"></bean>
	<!-- 配置任务详情 -->
	<bean id="methodInvokingJobDetailFactoryBean" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 注入目标任务 -->
		<property name="targetObject" ref="myJob"></property>
		<property name="targetMethod" value="run"></property>
	</bean>
	<!-- 配置触发器 -->
	<bean id="cronTriggerFactoryBean" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<!-- 注入任务详情 -->
		<property name="jobDetail" ref="methodInvokingJobDetailFactoryBean"></property>
		<!-- 注入cron 表达式：来确定任务执行条件 -->
		<property name="cronExpression">
			<!-- 任务执行时间表达式：每5秒执行一次 -->
			<value>0/5 * * * * ?</value>
		</property>
	</bean>
	
	<!-- 配置调度工厂 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<!-- 注入触发器，可以注入多个 -->
		<property name="triggers">
			<list>
				<ref bean="cronTriggerFactoryBean"/>
			</list>
		</property>
	</bean>
</beans>
